<div class="container">
    <div class="row">
        <div class="col-md-12 main">
            <h1 class="main__heading">Kontakt</h1>
        </div>
        <div class="col-md-12 typeform" id="form">
        </div>
        <div class="col-sm-4 text-white text-right mt-5 mt-sm-3">
            <h2>We are here for you: </h2>
        </div>
        <div class="col-sm-6 text-white text-left mt-3 mb-5">
            <p class="fs-5">
                <b>RAV MEDIA</b><br />
                Uhrbrookring 31b<br />
                21502 Geesthacht<br />
                Deutschland<br />
                <br />
                <b>t</b>&nbsp; +49 4152 1369-446<br />
                <b>m</b>&nbsp; hello@rav-cloud.de<br />
            </p>
        </div>
    </div>
</div>