<div class="container">
    <div class="row">
        <div class="col-md-12 main">
            <h1 class="main__heading">Skills & Services</h1>
        </div>
        <div class="col-md-6 mt-5" id="marketing">
            <h2>Marketing</h2>
            <ul class="text-white">
                <li>Optimale Präsentation Ihrer Organisation</li>
                <li>Conversion Optimierung</li>
                <li>Unterstützung bei der Marketingkampagne für Ihre Organisation</li>
            </ul>
        </div>
        <div class="col-md-6 mt-5" id="websitedesign">
            <h2>Corporate Webdesign</h2>
            <ul class="text-white">
                <li>Design Ihrer Corporate-Website</li>
                <li>Entwicklung Ihres Webauftrittes</li>
                <li>Beratung zu Designkonzepten</li>
            </ul>
        </div>
        <div class="col-md-6 mt-5" id="projektmanagement">
            <h2>Projektmanagement</h2>
            <ul class="text-white">
                <li>Agile Organisation Ihres IT-Projektes</li>
                <li>Erstellung und Organisation von User Stories & Use Cases</li>
                <li>Kommunikation zwischen Nutzer und Programmierer</li>
            </ul>
        </div>
        <div class="col-md-6 mt-5" id="beratung">
            <h2>Beratung</h2>
            <ul class="text-white">
                <li>Digitalisierung Ihrer internen Prozesse</li>
                <li>Erstellung des Business Cases, Business Analyse sowie Umsetzung und Einführung</li>
                <li>Beratung zum Einsatz von KI im Unternehmen</li>
                <li>Automatisierung manueller Prozesse</li>
            </ul>
        </div>
        <div class="col-md-12 text-center my-5">
            <a (click)="openTypeform()" appGradientButton class="primary-gradient-btn btn btn-lg text-white mt-2"><span>Projekt starten</span></a>
        </div>
    </div>
</div>