@import 'assets/styles/variables.scss';
@import 'assets/styles/animations.scss';
@import 'assets/styles/custom.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'assets/styles/overwrite-custom.scss';
@import "@typeform/embed/build/css/popup.css";
@import "@typeform/embed/build/css/widget.css";

html {
    height: 100vh;
    width: 100vw;
    background: $main-bg;
  }
  
  body {
    font-family: "Roboto Flex Variable", sans-serif;
    font-weight: 500;
    font-variation-settings: "wdth" 75, "wght" 500;
    color: white;
    background: #080820;
    background: linear-gradient(-45deg, rgba(19,23,28,1) 0%, rgba(10,10,37,1) 50%, rgba(0,0,0,1) 100%);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    overflow-x: hidden;
  }
  
  main {
    overflow: hidden;
  }